* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-main);
}

.header-container {
    width: 100vw;
    padding: var(--spacing-1) var(--spacing-2);
    background-color: var(--background-dark);
    color: var(--foreground-light-discrete);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: var(--container-content-width);
}

.header-content img {
    height: 75px;
    aspect-ratio: 3;
}

.header-nav {
    display: flex;
    column-gap: var(--spacing-3);
    font-size: 1.125rem;
    list-style-type: none;
}

.hero-container {
    width: 100vw;
    background-color: var(--background-dark);
    color: var(--foreground-light-discrete);
}

.hero-content {
    display: flex;
    align-items: stretch;
    column-gap: var(--spacing-7);
    margin: 0 auto;
    padding-top: var(--spacing-5);
    padding-bottom: var(--spacing-7);
    max-width: var(--container-content-width);
}

.hero-left {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-3);
}

.hero-title {
    font-size: 3rem;
    font-weight: 900;
}

.hero-tagline {
    font-size: 1.125rem;
    line-height: 1.25em;
    color: var(--foreground-light-discrete);
}

.hero-button {
    align-self: flex-start;
    padding: var(--spacing-1) var(--spacing-5);
    border-radius: 8px;
    color: inherit;
    background-color: var(--foreground-light-accent);
    text-decoration: none;
    font-weight: 700;
}

.hero-right {
    flex-basis: 60%;
    background-image: url(../img/dreamport.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

:root {
    font-size: 100%;
    --font-family-main: Roboto;
    --spacing-1: 8px;
    --spacing-2: 16px;
    --spacing-3: 24px;
    --spacing-4: 32px;
    --spacing-5: 48px;
    --spacing-6: 64px;
    --spacing-7: 96px;
    --spacing-8: 128px;
    --spacing-9: 256px;
    --container-content-width: 1152px;
    --background-light: rgb(255, 255, 255);
    --background-medium: rgb(233, 229, 231);
    --background-dark: rgb(31, 41, 55);
    --foreground-light-main: rgb(249, 250, 248);
    --foreground-light-discrete: rgb(229, 231, 235);
    --foreground-light-accent: rgb(56, 130, 246);
    --foreground-dark: rgb(0, 0, 0);
}