* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-main);
}

.header-container {
    width: 100%;
    padding: var(--spacing-1) 0;
    background-color: var(--background-dark);
    color: var(--foreground-light-discrete);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 var(--spacing-4);
    max-width: var(--regular-content-width);
}

.header-content img {
    height: 75px;
    aspect-ratio: 3;
}

.header-nav {
    display: flex;
    column-gap: var(--spacing-3);
    font-size: 1.125rem;
    list-style-type: none;
}

.hero-container {
    width: 100%;
    background-color: var(--background-dark);
    color: var(--foreground-light-discrete);
}

.hero-content {
    display: flex;
    align-items: stretch;
    column-gap: var(--spacing-7);
    margin: 0 auto;
    padding: var(--spacing-5) var(--spacing-4);
    padding-bottom: var(--spacing-7);
    max-width: var(--regular-content-width);
}

.hero-left {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-3);
}

.hero-title {
    font-size: 3rem;
    font-weight: 900;
}

.hero-tagline {
    font-size: 1.125rem;
    line-height: 1.25em;
    color: var(--foreground-light-discrete);
}

.hero-button {
    align-self: flex-start;
    padding: var(--spacing-1) var(--spacing-5);
    border-radius: var(--border-radius-button);
    color: inherit;
    background-color: var(--foreground-light-accent);
    text-decoration: none;
    font-weight: 700;
}

.hero-right {
    flex-basis: 60%;
    background-image: url(../img/dreamport-original.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.info-content {
    display: flex;
    flex-direction: column;
    column-gap: var(--spacing-7);
    margin: 0 auto;
    padding: var(--spacing-6) var(--spacing-4);
    max-width: var(--narrow-content-width);
}

.info-title {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
}

.info-card-container {
    display: flex;
    align-items: stretch;
    column-gap: var(--spacing-5);
    margin-top: var(--spacing-6);
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--spacing-2);
    flex: 1;
    text-align: center;
}

.info-card p {
    margin: var(--spacing-2) auto;
    width: 95%;
}

.info-card-img {
    width: 95%;
    aspect-ratio: 1;
    border: 6px solid var(--foreground-light-accent);
    border-radius: var(--border-radius-card);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

.quote-container {
    width: 100%;
    background-color: var(--background-medium);
    color: var(--foreground-dark);
}

.quote-content {
    margin: 0 auto;
    padding: var(--spacing-6) var(--spacing-4);
    max-width: var(--narrow-content-width);
}

.quote-text {
    width: 85%;
    margin: 0 auto;
    font-size: 2.25rem;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    width: 85%;
    margin: 0 auto;
    font-size: 1.23rem;
    font-weight: 800;
    text-align: end;
}

.cta-container {
    width: 100%;
    background-color: var(--background-light);
}

.cta-content {
    margin: 0 auto;
    padding: var(--spacing-6) var(--spacing-4);
    max-width: var(--narrow-content-width);
}

.cta-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: var(--spacing-4) var(--spacing-6);
    background-color: var(--foreground-light-accent);
    color: var(--foreground-light-main);
    border-radius: var(--border-radius-card);
}

.cta-text {
    flex-basis: 70%;
}

.cta-title {
    font-size: 1.5rem;
}

.cta-description {
    color: var(--foreground-light-discrete);
    margin-top: var(--spacing-1);
}

.cta-button {
    flex-shrink: 0;
    padding: var(--spacing-2) var(--spacing-4);
    border: 2px solid var(--foreground-light-main);
    border-radius: var(--border-radius-button);
    font-size: 1.125rem;
    font-weight: 600;
}

:root {
    font-size: 100%;
    --font-family-main: Roboto;
    --border-radius-card: 24px;
    --border-radius-button: 8px;
    --spacing-1: 8px;
    --spacing-2: 16px;
    --spacing-3: 24px;
    --spacing-4: 32px;
    --spacing-5: 48px;
    --spacing-6: 64px;
    --spacing-7: 96px;
    --spacing-8: 128px;
    --spacing-9: 256px;
    --regular-content-width: 1152px;
    --narrow-content-width: 1024px;
    --background-light: rgb(255, 255, 255);
    --background-medium: rgb(229, 231, 235);
    --background-dark: rgb(31, 41, 55);
    --foreground-light-main: rgb(249, 250, 248);
    --foreground-light-discrete: rgb(229, 231, 235);
    --foreground-light-accent: rgb(56, 130, 246);
    --foreground-dark: rgb(31, 41, 55);
}